# Configuration de l'API
# Utiliser 127.0.0.1 au lieu de localhost pour de meilleures performances sur Windows
VITE_API_URL=http://127.0.0.1:8001

# Pour la production
# VITE_API_URL=https://api.votre-domaine.com
